<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1639849016.629751</real>
	<key>UUID</key>
	<string>0E2024F9-205C-4227-A54A-07BF2DC41C19</string>
</dict>
</plist>
