---
layout: default
---

<h1>⨳ {{ page.title}} ⨳</h1>

<p class="subtitle">{{ page.date | date: "%Y-%m-%d" }}</p>
<a href="/events/">event</a>

{{ content }}

{% assign pageDt = page.date | date: "%Y-%m-%d" %}

<table>
<thead>
<tr><th>Lineup</th></tr>
</thead>
<tbody>
{% for event in site.data.events.list.Event %}
  {% if event.Date == pageDt %}
    <tr><td><a href="{{ event.Link }}">{{ event.Artist }}</a></td></tr>
  {% endif %}
{% endfor %}
</tbody>
</table>

<div class="PageNavigation">
	{% if page.previous.url %}
	<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	{% endif %}
	{% if page.next.url %}
	<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	{% endif %}
</div>
